{% extends 'home.html' %}


<title>{% block title %}About{% endblock title %}</title>

{% block body %}
<div class="container my-3 bg-light">
  <h1>Movie recommender system</h1>
  <p>A movie recommendation system, or a movie recommender system, is an ML-based approach to filtering or predicting
    the users' film preferences based on their past choices and behavior</p>
  <img src="https://miro.medium.com/max/1400/1*BME1JjIlBEAI9BV5pOO5Mg.png" alt="Not Found"
    style="width: 400px; height:300px; position:center;float:center; ">
</div>
{% endblock body %}