{% extends 'home.html' %}
{% block title %}Account{% endblock title %}
{% block body %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
  {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
<div class="container my-5">
  <form method='POST' action='/account'>
    {% csrf_token %}
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" name='email' class="form-control" id="email" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" name='password' class="form-control" id="password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock body %}